/* The following deals with the fixed navigation header bar */

/* @import "folder/file" */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  padding-left: 30px;
  padding-top: 10px;
  box-sizing: border-box;
  background: teal;
  color: white;
  z-index: 1;
  font-family: Arial, sans-serif;
  opacity: 0.8;
}

header a:link, header a:visited, header a:active {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header a:hover{
  color: white;
  text-decoration: underline;
}

.nav-container {
  display: inline-block;
}

.logo-nav {
  width: 20%;
  position: absolute;
  bottom: 10px;
  font-size: 1.8em;
  display: block;
}

.middle-nav {
  width: 60%;
  margin: auto;
  text-align: center;
  position: absolute;
  left: 20%;
  bottom: 8px;
  font-size: 1.3em;
}

.top-right-nav {
  width: 20%;
  position: absolute;
  bottom: 10px;
  right: 20px;
  text-align: right;
  font-size: 1em;
}

header li {
  display: inline-block;
  margin: 5px;
  list-style: none;
}

/* The following deals with the body text and form elements */

body {
  padding-top: 90px;
  padding-left: 20px;
  font-family: Arial, sans-serif;
  color: teal;
}

h1 {
  font-size: 1.8em;
}

/* table styling */

td {
  font-size: 1.2em;
  border-bottom: 1px solid teal;
  padding: 10px;
  min-width: 120px;
  text-align: center;
}

tr:hover {
  background-color: rgb(213, 237, 226);
}

td {
  font-size: 1.2em;
  border-bottom: 1px solid teal;
  padding: 10px;
  min-width: 120px;
  text-align: center;
}

tr:hover {
  background-color: rgb(213, 237, 226);
}

.goals-leaderboard {

}

/* form styling */

form {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1em;
}

input {
  font-family: Verdana, Arial, sans-serif;
  font-size: 0.8em;
}

input[type="submit"] {
  width: 80px;
  height: 60px;
  font-size: 1em;
  margin: 10px 0px;
}

/* For styling flash messages  */

div[id^="flash"] {
  color: rgb(221, 28, 28);
}

.field_with_errors {
  border: 1px solid rgb(221, 28, 28);
}
